html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.object {
    position: relative;
    width: 150px;
    height: 150px;
    background: url("../img/Pepega-meme.png");
    background-repeat: no-repeat;
    background-size: 150px 150px;
    top: 0;
    left: 0;
}
